/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: flex;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
  width: 880px;
  /* TB LR */
  margin: auto;
}

@media( max-width: 800px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
}

@media( max-width: 500px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
}


/* header */

header {
  display: flex;
  flex-direction: row-reverse;

}

@media( max-width: 800px) {
  header {
    flex-direction: column;
    align-items: center;
  }

}
@media( max-width: 500px) {
    header {
    justify-content: center;
    }
  }
  

  header nav {
    width: 100%;
    vertical-align: top;
    margin-top: 35px;
  }

  @media( max-width: 800px) {
    header nav {
    flex-direction: row;
    justify-content: space-evenly;
   
    }
  }

@media( max-width: 500px) {
    header nav {
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-top: 1px solid gray;
    }
  }


header nav a {
  margin-right: 65px;
  font-size: 16px;
  color: grey;
  text-decoration: none;
}

@media( max-width: 500px) {
    header nav a {
    display: block;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid gray;
    }
  }



header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
  margin-left: 0;
}

header nav a:last-child {
  margin-right: 0;
}

header .logo {
  display: flex;
  margin: 20px 0;
}

/* cta */

.cta {
  display: flex;
  flex-direction: row;
  margin-bottom: 72px;
}

@media( max-width: 800px) {
  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.cta .cta-text {
  vertical-align: top;
  font-size: 77px;
  margin-top: 120px;
  text-align: center;
  padding: 0px 75px;
}

@media( max-width: 800px) {
  .cta .cta-text {
  vertical-align: top;
  font-size: 77px;
  margin-top: 75px;
  text-align: center;
  }
}

@media( max-width: 800px) {
    .cta .cta-text {
    padding: 0px;
    }
  }

.cta .cta-text button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

.cta img {

  display: flex;
  margin-top: 69px;
}

@media( max-width: 800px) {
  .cta img {
    display: none;
  }
}

.main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 18px;
}

@media( max-width: 800px) {
  .main-content {
    align-items: center;
  }
}

@media( max-width: 500px) {
    .main-content {
      width: 100%;
      align-content: center;
    }
  }

.main-content .top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media( max-width: 800px) {
  .main-content .top-content {
    width: 95%;
    align-items: center;
  }
}


  @media( max-width: 500px) {
    .main-content .top-content{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    }
  }

.main-content .top-content .text-content {
  display: flex;
  flex-direction: column;
  margin: 0 12px;

}
@media( max-width: 500px) {
    .main-content .top-content .text-content {
    margin: 5% 0;
    }
  }

.main-content .top-content .text-content:last-child {
  margin-right: 0;
}

.main-content .middle-img {
  margin: 30px auto;
  display: block;
  
}

@media ( max-width: 800px) {
    .main-content .middle-img {
      width: 95%;
    }
  }

  @media ( max-width: 500px) {
    .main-content .middle-img {
      width: 90%;
    }
  }

.main-content .bottom-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

@media ( max-width: 800px) {
  .main-content .bottom-content {
    width: 95%;
    align-items: center;
  }
}
    @media( max-width: 500px) {
        .main-content .bottom-content {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        }
      }

.main-content .bottom-content .text-content {
  width: 275px;
  display: flex;
  flex-direction: column;
  margin: 0 12px;
}

@media( max-width: 500px) {
    .main-content .bottom-content .text-content {
    width: 100%;
    margin: 5% auto;
    }
  }

.main-content .bottom-content .text-content:last-child {
  margin-right: 0;
}

.contact {
  padding: 39px 12px 0;
}

@media( max-width: 800px) {
  .contact {
    width: 100%;
    padding-left: 30px;
  }
}

@media( max-width: 500px) {
    .contact {
      width: 100%;
      padding-left: 25px;
    }
  }
  

.container footer {
  margin: 32px 0;
  flex-direction: flex;
  justify-content: center;
  font-size: 14px;
}


